# ===================================
# Production Profile
# ===================================

spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

logging:
  level:
    root: WARN
    dev.promise4.GgUd: INFO

management:
  endpoint:
    health:
      show-details: never

server:
  error:
    include-message: never
    include-binding-errors: never
